<h1>Welcome, <%=@user.username%></h1>

        <%@tweets.each do |tweet|%>
        <h2><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a><h2>
        <%end%>
<br>
<form action="/logout" method="post">
  Logout?
  <input id ="Submit" type="submit" value="submit">
</form>

<h3> <a href="/tweets/new"> New Tweet</a></h3>



