<h1>Welcome, <%=@user.username%></h1>

        <%@tweets.each do |tweet|%>
        <h2><%=tweet.content%><h2>
        <%end%>
<br>
<form action="/logout" method="post">
  Logout?
  <input id ="Submit" type="submit" value="submit">
</form>



