 
 
 <h1>Welcome to Fwitter</h1>
 <br>
    <h3>Log In Please</h3>

     <form action='/login' method="post">
  
            <label for='username'> Username:</label>
            <input id="username" type="text" name="username">
            <label for='password_digest'> password:</label>
            <input id="password_digest" type="text" name="password_digest">
            <input id ="Submit" type="submit" value="submit">
      </form>